# Air BnB EDA & data cleaning

## Notebook setup

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## Data loading/inspection

In [ ]:
data_df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/data-preprocessing-project-tutorial/main/AB_NYC_2019.csv')
data_df.head().transpose()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

## 1. Distributions

Investigate each feature separately. This should include summary statistics and plots, each feature should be handled appropriately based on the data type. You should also include a short description of your findings. This is a good time to think about each feature's distribution type, possibly missing and/or extreme values or anything else strange/unexplained/interesting of note.

### 1.1. Numerical features

In [ ]:
# Show descriptive statistics for the numerical features: mean, standard deviation etc.
# hint: use Pandas `df.describe()`.

In [ ]:
# Show the distributions of the numerical features - use histograms to get an idea of the data's shape. 
# Be sure to label plots & axes and use a scale that makes sense for the data.

### 1.2. Categorical features

In [ ]:
# Show number of feature levels and level counts for each categorical feature
# hint: use Pandas `df.nunique()` and/or `df.value_counts()`.

In [ ]:
# Show the Distribution for each categorical feature - how many observations fall into each category.
# Matplotlib or Seaborn bar plots are a good options here.

## 2. Interactions

Investigate interactions between features. This will give you information about which features have strong relationships and therefore will be useful for modeling. Include a plot and a quantification of the strength of relationship between each pair of features. Quantification can be done using a correlation coefficient or statistical test. Again, each pair of features should be handled correctly based on the data types.

### 2.1. Nominal vs nominal features

In [ ]:
# Quantify the association between nominal features using the Chi-squared test for contingency tables of count data
# hint: see `scipy.stats.chisquare` - https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chisquare.html

In [5]:
# Plot the counts in each category with a stratified bar plot. Matplotlib or Seaborn are a good options here.

### 2.2. Nominal vs numerical features

In [ ]:
# Use Kruskal-Wallis H-tests for equality of medians with a nominal feature as the independent variable and one 
# of the numerical features as the dependent variable. hint: see `scipy.stats.kruskal`
# (https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kruskal.html).
# 
# Question: why am I suggesting the H-test here, rather than ANOVA?

In [ ]:
# Plot stratified boxplots where a nominal feature is the x-axis and numerical feature is y-axis.
# Draw one plot for each nominal featureSeaborn is a great option.

### 2.3. Numerical vs numerical features

In [ ]:
# Quantify the strength of correlation between pairs of numerical features using Spearman or Kendall
# correlation coefficient. SciPy.stats has pairwise implementations for both: 
# spearmanr https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html
# kendalltau https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kendalltau.html
# Pandas `df.corr()`is another option to calculate a full cross-correlation matrix for a dataframe
# in one call - but be careful with the defaults, they are not appropriate for this data!.

In [ ]:
# Plot relationships between numerical features using a scatter plot with Matplotlib. Be sure to label axes 
# and/or plot and pick appropriate scales. Adding a best fit line can be nice, but is not super
# important for this data. Question: why not? Related: why am I suggesting non-parametric rank
# based correlation coefficients above?

## 3. Data cleaning

### 3.1. Feature selection

Decide what features to include in (or exclude from) you analysis. Base this decision on the type and quality of information contained in each feature. Will it be useful for modeling? Example: the listing id number is not needed. There are no features in this dataset which should be removed based on their correlation (or lack thereof) with other features alone.

In [7]:
# Select desired features and/or drop unwanted features from your dataframe

### 3.2. Missing values

The only relevant feature in the dataset that contains obviously missing data is `reviews_per_month`. Think about why this column might have so much missing data and where it came from. Then come up with a strategy to handle the missing data appropriately by either excluding it or filling it in with a meaningful value.

In [ ]:
# Implement your strategy for handling missing values in the `reviews_per_month` feature.

## 3.3. Extreme values

Remove or replace any extreme values for which you think action is warranted. Note: it is not required for you to take any action based solely on the identification of an observation or observations as 'statistical' outliers. Examples: the `minimum_nights` column contains 999 values for several listings, these could be removed or filled based on the assumption that they are placeholders or errors. However, the `price` column has several very expensive listings, but on inspection they do seem to be real data (one is a 70 foot yacht parked on Manhattan!). These could be excluded or clipped, but a justification should be made in terms of the goal of the analysis.

In [ ]:
# Handle extreme values in the dataset. Remove or replace any extreme values for which you think action is warranted.

## 4. Feature engineering

### 4.1. Feature encoding

The dataset contains two nominal features which need to be encoded to numbers: `neighbourhood_group` and `room_type`. Nominal features should be one-hot encoded. See [`sklearn.preprocessing.OneHotEncoder`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html).

In [8]:
# Apply one-hot encoding to the nominal features `neighbourhood_group` and `room_type`.

### 4.2. Feature scaling

Model performance can often be improved by transforming and/or scaling the features and labels, but this depends on the model type. The features and labels in this dataset are not normally distributed, so a Box-Cox transformation will improve the performance of many common model types (including linear and logistic regression). See [`sklearn.preprocessing.PowerTransformer`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PowerTransformer.html).

In [ ]:
# Apply sklearn's power transformer to the numerical features to improve their distribution.

### 4.3. Other

The sky is the limit. It is common and often very effective to make new features by combining features already present, or bringing in external data. For example: what if you normalized the `price` feature by the mean residential property value in dollars per square foot for the 5 boroughs? You also could probably calculate an estimated listing age from the total reviews and the reviews per month. Be creative and do experiments. I was able to improve linear regression performance on price from under 50% of variance explained to almost 60% by adding polynomial combinations of the features to the data (see detailed solution notebooks).